* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

header {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 1100px;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

.flexbox {
  display: flex;
}

.centeritems {
  align-items: center;
}

.infoline {
  margin-left: 3rem;
  padding: 0.8rem 0 0.8rem 0.8rem;
  border-left: 1px solid black;
}

.img-responsive {
  width: 100%;
  height: auto;
  padding: 2px;
}

.kia-logo {
  max-width: 12.5rem;
}

.rater {
  max-width: 2.621rem;
}

.icon {
  max-width: 2rem;
}

.chat-widget {
  max-width: 11.25rem;
}

@media (max-width: 925px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  .header__right {
    padding-top: 8px;
  }

  .chat-widget {
    display: block;
    margin: auto;
  }
}

@media (max-width: 535px) {
  html {
    font-size: 14px;
  }

  .header__left {
    flex-direction: column;
  }

  .infoline {
    margin: 0;
    padding: 6px;
    border: none;
  }
}

@media (max-width: 480px) {
  .chat-widget {
    display: none;
  }
}
